.App {
  margin: 0;
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

img {
  border-radius: 0.5rem;
}
img:hover {
  filter: drop-shadow(0 0 0.5rem cyan);
}
/* img {
  padding: 25px;
  z-index: 999;
  cursor: pointer;
  transition: ease 500ms;
  opacity: 60%;
} */

/*change the number below to scale to the appropriate size*/
/* img:hover {
  transform: scale(1.2);
  opacity: 100%;
} */

.movies {
  padding-top: 25px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
}

.movie-item {
  display: inline-block;
  color: black;
  will-change: transform;
  opacity: 70%;
  transition: ease 700ms;
  padding: 25px;
  z-index: 999;
  cursor: pointer;
}

.movie-item:hover {
  color: white;
  opacity: 100%;
  transform: scale(1.2);
}

.detail-description {
  display: block;
  width: 300px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.detail-title {
  display: block;
  text-align: justify;
  padding-left: 5%;
}